{{extend 'layout.html'}}
{{form.custom.widget.node['_id'] = 'node'}}
{{form.custom.widget.sensor['_id'] = 'sensor'}}
{{form.custom.widget.start['_id'] = 'start'}}
{{form.custom.widget.stop['_id'] = 'stop'}}
{{form.custom.widget.start['_placeholder'] = 'From'}}
{{form.custom.widget.stop['_placeholder'] = 'To'}}
<h1>Generate report</h1>
{{=form.custom.begin}}
{{=form.custom.widget.node}}
<br />
{{=form.custom.widget.sensor}}
<br />
<table>
<tr>
<td>{{=form.custom.widget.start}}</td>
<td><span style="padding-right: 10px"></span></td>
<td>{{=form.custom.widget.stop}}</td>
<td><span style="padding-right: 10px"></span></td>
<td><input id="submit_report" class="btn btn-primary btn-default" type="button" value="Submit"></td>
</tr>
</table>
<br />
{{=form.custom.end}}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/modules/no-data-to-display.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="{{=URL('static','js/charts.js')}}"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>