{{extend 'layout.html'}}

<h1>Live Plot</h1>
{{=form.custom.begin}}
{{=form.custom.widget.node}}
<br />
{{=form.custom.widget.sensor}}
<br />
{{=form.custom.end}}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/modules/no-data-to-display.js"></script>
<script src="{{=URL('static','js/charts.js')}}"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>